select.textMedium { width: 28em; }

.metadata pre {
    font-family: Consolas, monospace;
    font-size: 11px;
}

#urlprotector .editor-label {
    font-size: small;
    padding-top: 10px;
}

#urlprotector .matchcheck { font-size: smaller; }

#urlprotector .matched { color: darkgreen; }

#urlprotector .nomatch { color: darkred; }

#urlprotector .errormessages { color: red; }

#urlprotector td.actioncolumn {
    text-align: center;
    width: 90px;
}


#urlprotector td.forcesslcolumn {
    max-width: 80px;
    text-align: center;
}

#urlprotector td {
    border: thin solid #F3F4F5;
    padding: 10px;
}

#urlprotector th {
    background: #859A5D;
    border: thin solid #F3F4F5;
    color: white;
    font-size: larger;
    font-weight: bold;
    padding: 10px;
}

#urlprotector form { padding: 20px 0 80px; }

#urlprotector table { width: 100%; }

#urlprotector #userinfo { font-size: smaller; }

#urlprotector #userinfo td {
    border: none;
    padding: 5px;
}

#urlprotector table#userinfo {
    padding-top: 30px;
    width: auto;
}

#urlprotector #userinfo .currentagent { padding-left: 30px; }

